footer {
    display: flex;
    position: relative;
}
.timeline{
    position: absolute;
    top: -2px;
    left: 0;
    display: flex;
    justify-content: flex-end;

    width: 400px;
    height: 4px;
    background: linear-gradient(90.35deg, #4ac08f 2.49%, #2fb4ff 101.2%, #2fb4ff 101.2% );
}
.timeline::before{
    content: '';
    display: block;

    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--secondary);
    transform: translateY(-6px);
    filter: blur(.2px);

}
.footer_content{
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    padding: 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.music, .controler {
    width: 100%;
    max-width: 400px;
}

.music{
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 6px 42px;
}

.music i{
    grid-row: 1 / 3;
    align-self: center;
    font-size: 2.5rem;
    color: var(--secondary);
}
.music h2{
    color: var(--tertiary);
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 500;
}
.music h3{
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary);
}

.player{
    display: flex;
    align-items: center;
    column-gap: 100px;
}
.player .player_main{
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.player .player_main button{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--background-light);
}
.player .player_main button i{
    font-size: 1rem;
    color: var(--secondary);
    margin: auto;
}
.controler{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 85px;
}
.controler i{
    font-size: 1rem;
    color: var(--tertiary);
    margin: auto;
}
.fa-repeat, .fa-rotate-right {
    color: var(--secondary);
    font-size: 1.5rem;
}