header{
    display: flex;
    width: 100%;
}
header nav, header .user{
    width: 100%;
    max-width: 330px;
}

.button_toggle{    
    display: none;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 4px;

    background: transparent;
}

.button_toggle span{
    display: block;
    width: 24px;
    height: 2px;
    background: var(--primary);
}

.button_toggle span:nth-child(even){
    width: 18px;
}

.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px;
    margin: 0 auto;
    width: 100%;
    max-width:1440px;
}
.header_content h1{
    font-size: 2rem;
    line-height: 2.753rem;
    text-transform: uppercase;
}

.navigation{
    display: flex;
    align-items: center;
    column-gap: 56px;
}
.navigation li a,
.user span
{
    font-size: 1.25rem;
    line-height: 1.25rem;
}
.navigation li{
    position: relative;
}
.navigation li.active::before{
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 2px;
    transform:  translateY(6px);
    background: var(--secondary);
}
.user{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 16px;
}
.user_avatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;

    padding: 2px;
    background: linear-gradient(90.35deg, #4ac08f 2.49%, #2fb4ff 101.2%, #2fb4ff 101.2% ) ;
}
.user_avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
