body{
    background: var(--background);
}
.app{
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;
    height: 100vh;
}


main {
    flex: 1;
    display: flex;
    background-image: url('../img/anime.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main_content{
    margin:auto auto 0 ;
    width: 100%;
    max-width: 1440px;
    padding-top: 24px;
    padding-bottom: 228px;

    display: flex;
    flex-direction: column;
}

.main_content .logo{
    width: 250px;
    height: auto;
}
.main_content strong{
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 24px 0 32px;
}

.main_content .controll{
    display: flex;
    align-items: center;
    column-gap: 18px;
}
.controll button{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--tertiary);
}
.controll button i{
    margin: auto;
    font-size: 1rem;
    color: var(--background);
}
.controll button:disabled{
    background-color: var(--primary);
}
.controll span {
    font-size: 1.5rem;
    line-height: 1.75rem;
}