@media (max-width: 1080px){
    html{
        font-size: 93.75%;
        }
        .main_content{
            padding: 24px 24px 150px;
        }
        .music{
            gap: 6px 18px;
        }
        .player .´player_main{
            column-gap: 6px;
        }
        .player, .controler{
            column-gap: 24px;
        }
        .navigation{
            column-gap: 32px;
        }
        header nav, header .user{
            max-width: 280px;
        }


}

@media(max-width: 768px){
    html{
        font-size: 87.5%;
        } 

    .button_toggle, .header_content h1, .user{
        z-index: 3;
    }
    .button_toggle{
        display: flex;
        visibility: visible;        
    }
    .navigation{
        position: fixed;
        inset: 0;

        width: 100%;
        z-index: 2;
        height: 0;
        overflow: hidden;
        background: var(--background);

        flex-direction: column;
        justify-content:center;
        row-gap: 48px;
        transition: all .4s;
    }
    .navigation.active{
        height: 100vh;
    }
    .navigation li a{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .controler .music{
        display: none;
        visibility: hidden;
    }  
    .player{
        width: 100%;
        justify-content: space-between;
    }  
    .player .player_main{
        column-gap: 28px;
    }
    .user {
        max-width: 48px;
    }  
    .user span{
        display: none;
        visibility: hidden;
    } 
    header nav{
        max-width: 0;
    }
    .header_content h1{
        flex: 1;
        text-align: center;
    }
}