.header {
    width: 80%;
    height: 176px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 4rem;
}

.header .nav-links {
    display: flex;
    gap: 24px;
}

.header .nav-links .link {
    width: 40px;
    height: 40px;
    background: var(--branco-light);
    border-radius: 50%;
    border: .1rem solid var(--branco);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease .5s;
}

.header .nav-links .link:hover {
    background: var(--rosa);
}

.header .nav-links .link i {
    color: var(--branco);
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: var(--bg2);
    color: var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
} 
.nav-links.active {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 176px;
    left: 0;
    right: 0;
    background: var(--preto);
    padding: 2rem;
    gap: 1.5rem;
    z-index: 1000;
} 
