@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');

@import url(./media.css);

:root{
    --dark:#0C0C0C;
    --rosa:#f12b45;
    --green:#04d361;
    --red: #ff3e3e;
    --bg:#1a1a1a;
    --dark_200:#212529;
    --gray:#aeaeae;
    --light:#f9f9f9;
    --sora: "Sora", sans-serif;
    --inter: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
}

body{
    background: var(--bg);
    color: var(--light);
    font-family: var(--inter);
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn{
    display: inline-block;
    width: 190px;
    height: 60px;
    cursor: pointer;
}
.btn_comprar{
    margin: .5rem;
    padding: .5rem;
    background: transparent;
    border: .1rem solid var(--rosa);
    color: var(--light);
    border-radius: 6px;
    transition: all .5s ease;
}
.btn_comprar:hover{
    background: var(--rosa);
    
}
main{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    width: 600px;
    height: auto;
}
.content h2{
    font-family: var(--sora);
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}
.content h3{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: var(--rosa);
    margin-top: 20px;
}
.content p{
    font-size: 26px;
    line-height: 36px;
    color: var(--gray);
    margin-top: 30px;
}

form{
    width: 600px;
    height: auto;
    margin-top: 20px;
}
.inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input{
    height: 60px;
    border-radius: 4px;
    background-color: var(--dark);
    border: .1rem solid var(--dark_200);
    color: var(--gray);
    font-size: 28px;
    padding-left: 10px;
}

label{
    font-size: 18px;
    line-height: 28px;
    color: var(--gray);
    padding-left: 2px;
}

.btn_enviar{
    width: 100%;
    background: var(--rosa);
    color: var(--dark);
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;
    transition: all .5s ease;
}
.btn_enviar:hover{
    background: var(--green);
}

footer{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_enviar{
    min-width: 100vw;
    min-height: 100vh;
    background: #0c0c0c50;
}
.modal_content{
    width: 800px;
    height: 300px;
    background-color: var(--dark);
    border: .1rem solid var(--dark_200);
    border-radius: 4px;
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal_content p{
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px;
}
.btn_fechar{
    width: 600px;
    font-size: 24px;
    font-weight: bold;
    background: var(--green);
}
.sucesso{
    color: var(--green);
}
.bg_sucesso{
    background-color: var(--green);
}
.erro{
    color: var(--red);
}
.bg_erro{
    background-color: var(--red);
}
.erro_nome, .erro_email{
    line-height: 30px;
}