.header{
    width: 80%;
    height: 176px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header img{
    width: 4rem;
}

.header .nav-links{
    display: flex;
    gap: 24px;
}
.header .nav-links .link{
    width: 40px;
    height: 40px;
    background: var(--branco-light);
    border-radius: 50%;
    border: .1rem solid var(--branco);

    display: flex;
    align-items: center;
    justify-content: center;
}

.header .nav-links .link i{
    color: var(--branco);
}