main {
    width: 80%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo {
    width: 100%;
    height: 100%;

    display: flex;
}

.descricao {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descricao .titulo {
    font-size: 64px;
    line-height: 70px;

    margin-bottom: 32px;
}

.descricao .titulo-chapeu {
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 24px;
}

.descricao p {
    font-size: 24px;
    line-height: 36px;

    margin-bottom: 32px;
}

.botoes {
    width: 100%;
    height: 52px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.botao {
    width: 240px;
    height: 52px;
    border: .1rem solid var(--branco);
    background-color: transparent;
    color: var(--branco);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    gap: 8px;
}

.botao-primario {
    background-color: #f1a5b1;
    color: var(--preto);
}

.botao-primario:hover {
    background-color: var(--branco);
    color: #f1a5b1;
}

.inlustracao {
    width: 100%;
    height: 100%;
    background-image: url(../img/image02-bg.png);
    background-repeat: no-repeat;
}